@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Neha:</strong>   <a href="mailto:nesinha@eng.ucsd.edu">nesinha@eng.ucsd.edu</a><br />
    <strong>Shreshtha:</strong> <a href="mailto:shm039@eng.ucsd.edu">shm039@eng.ucsd.edu</a>
</address>